@model PagedList.IPagedList<Connection360.Web.ViewModel.HomeViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<link href="../Content/StyleSheet.css" rel="stylesheet" />
<br />
<br />
<div>
    @using (Html.BeginForm())
    {
        <p>
            Title: @Html.TextBox("brandName")  Title: @Html.TextBox("skuName") @*Two search box is not required, it is not properly aligned*@
            <input type="submit" value="Search" />
        </p>
    }  
</div>
<br />
<br />
<div class="container">
    <table class="table table-responsive table-hover"> @*table is not responsive*@
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>SKU Name</th>         
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>                    
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.SkuName
                </td>
            </tr>
        }         
    </table>
</div> 
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))