@model PagedList.IPagedList<Connection360.Web.ViewModel.Brand_SkuViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<link href="../Content/StyleSheet.css" rel="stylesheet" />
<br />
<br />
<div>
    @using (Html.BeginForm())
    {
        <p>
           
        
             @Html.TextBox("brandName")   @Html.TextBox("skuName") 
            <input type="submit" value="Search" />
            @Html.ActionLink("ADD BRAND", "Add",new { @class = "navbar-add" })
</p>

    }
</div>
<br />
<br />
<div class="container">
    <table class="table"> 
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>SKU Name</th>         
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>                    
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.SkuName
                </td>
            </tr>
        }         
    </table>
</div> 
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))